* {
	box-sizing: border-box;
} 
body {
	background-image: url("../images/concrete-texture/concrete-texture/concrete-texture.png");
}

.socialImg{

		width:62px;
	height:80px;
	margin-top: 8px;
	margin-right: 5px;

}
#firstRow{
	padding: 20px;
}
#secondRow{

}
.tstClass{

	background: blue;
}
.aboutMeBackground{

	background:#fff;
}
.subNavBrand{
  background: #4aaaa5;
  color: #fff;
  padding: 10px;
  margin: 3px;
}
.aboutMe{
  margin: 80px 20px 0px 50px;
  padding: 3px;
  border-bottom: 1px solid #4aaaa5;
}

.auth-image{
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}
/*portfolio */ 

.work {

	width: 274px;
	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 0 25px;
}

.work:nth-child(even){

	margin-right: 40px;
}

.work img {
	width: 100%;
	border: 0 none;
	opacity: .9;
}

.work h3 {

	border-bottom:0;
	background: #4aaaa5;
	color: #fff;
	text-align:center;
	position: absolute;
	bottom: 20px;
	padding: 5px;
	width: 100%;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}
.testFooter{
	background: #666; 
	border-top: 8px solid #4aaaa5;
}

.extCard{

	color: #4aaaa5;
}